torch==1.9.1
torchvision==0.10.1
# RTX3070,cuda11.2 requires
pytorch-lightning==0.7.5
test-tube
kornia==0.2.0
opencv-python==4.2.0.34
matplotlib
jupyter

PyMCubes
pycollada
trimesh
pyglet

plyfile
open3d==0.9
